PJRafaWeb/PJRafaWeb/UI/Connected Services/ServiceCliente/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Dto_ClienteFiltroRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dto_ClienteFiltroRequest" nillable="true" type="tns:Dto_ClienteFiltroRequest" />
  <xs:complexType name="ArrayOfDto_ClienteFiltroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dto_ClienteFiltroResponse" nillable="true" type="tns:Dto_ClienteFiltroResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDto_ClienteFiltroResponse" nillable="true" type="tns:ArrayOfDto_ClienteFiltroResponse" />
  <xs:complexType name="Dto_ClienteFiltroResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Dto_ClienteFiltroResponse" nillable="true" type="tns:Dto_ClienteFiltroResponse" />
  <xs:complexType name="Dto_ClienteDetalhesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dto_ClienteDetalhesResponse" nillable="true" type="tns:Dto_ClienteDetalhesResponse" />
  <xs:complexType name="Dto_InserirClienteRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dto_InserirClienteRequest" nillable="true" type="tns:Dto_InserirClienteRequest" />
  <xs:complexType name="Dto_InserirEnderecoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dto_InserirEnderecoRequest" nillable="true" type="tns:Dto_InserirEnderecoRequest" />
  <xs:complexType name="Dto_AtualizarClienteRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dto_AtualizarClienteRequest" nillable="true" type="tns:Dto_AtualizarClienteRequest" />
  <xs:complexType name="Dto_AtualizarEnderecoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Endereco" type="xs:int" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dto_AtualizarEnderecoRequest" nillable="true" type="tns:Dto_AtualizarEnderecoRequest" />
</xs:schema>