PJRafaWeb/PJRafaWeb/UI/Connected Services/ServiceReferenceWCF/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44129/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Entidades" />
  <xs:import schemaLocation="http://localhost:44129/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" />
  <xs:element name="selecionartudo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selecionartudoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Entidades" minOccurs="0" name="selecionartudoResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltrarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="Request" nillable="true" type="q2:Dto_ClienteFiltroRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltrarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="FiltrarClientesResult" nillable="true" type="q3:ArrayOfDto_ClienteFiltroResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="ConsultarResult" nillable="true" type="q4:Dto_ClienteDetalhesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="Request" nillable="true" type="q5:Dto_InserirClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="Request" nillable="true" type="q6:Dto_InserirEnderecoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirEnderecoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="Request" nillable="true" type="q7:Dto_AtualizarClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PJRafa_Domain.Argumentos" minOccurs="0" name="request" nillable="true" type="q8:Dto_AtualizarEnderecoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarEnderecoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirEnderco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirEndercoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirEndercoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>